﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    </style>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="float-left">
                    <p class="site-title">@Html.DisplayText("Blogging System")</p>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <span class="navbar-left">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Blogs", "Index", "Blog", new { area = "" }, null)</li>
                        @if (Session["UserName"] != null)
                        {
                            <li>@Html.ActionLink("My Blog", "MyBlogList", "Blog", new { area = "" }, null)</li>
                        }
                    </ul>
                </span>
                <span class="navbar-right">
                    <ul class="nav navbar-nav">
                        @if (Session["UserName"] != null)
                        {
                            <li style="padding-top:8%; color: #ffffff;background-color: transparent;">@Session["UserName"]</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Login", new { area = "" }, null)</li>

                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Index", "Login", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Register", "Register", "Register", new { area = "" }, null)</li>
                        }
                    </ul>
                </span>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Blogging Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
