﻿@model BloggingSystemApp.Models.Blog_Posts

@{
    ViewBag.Title = "Post";
}

<script>
    $(function () {
        $("#deleteLink").click(function () {

            $.confirm({
                text: "Are you sure you want to delete that post?",
                confirm: function() {
                    return true;
                },
                cancel: function() {
                    // nothing to do
                }
            });
        });
    });
</script>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Blog_Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog_Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Blog_User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog_User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Post", "Edit", new { id = Model.PostID }) |
    @Html.ActionLink("Delete Post", "Delete", new { id = Model.PostID }, new 
{
  id = "deleteLink"  
})
</p>
