﻿@model IEnumerable<BloggingSystemApp.Models.Blog_Posts>

@{
    ViewBag.Title = "Posts";
}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>Posts</h2>



@foreach (var item in Model)
{
    <div class="list-group">

        <span class="list-group-item active">@Html.DisplayFor(modelItem => item.Title)</span>

        <span class="list-group-item-text">@Html.DisplayFor(modelItem => item.PostContent)</span>

        <span class="list-group-item-text">@Html.DisplayFor(modelItem => item.DateCreated)</span>

        <span class="list-group-item-text">@Html.DisplayFor(modelItem => item.Blog_User.UserName)</span>

    </div>

}